
.no-data-available {
  text-align: center;
}

/*
   src/styles.css (i.e. your global style)
*/
.dataTables_empty {
  display: none;
}
/*.dataTables_empty {
  display: none;
}
.dataTables_empty {
  background-color: red;
}*/
